.main {
  position: relative;

  &__background-video {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 100vh;
    z-index: 0;
  }

  &__reservation-container {
    gap: 1.5rem;

    position: absolute;
    bottom: 3rem;
    padding: 0 5rem;

    width: 100%;
  }
}
