.app {
  background-color: var(--light-blue);
}

.app__container {
  width: 0%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
