#root {
  --primary-color: #2155cd;
  --secondary-color: #0aa1dd;
  --light-blue: #79dae8;
  --light-gray: #e8f9fd;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
